html {
  box-sizing: border-box;
}

html,body {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: #edf3ff;
  font-family: Roboto;
}

header{
  text-align: center;
  margin: 16px;
  color: #6f42c1;
}

ul{
  padding: 0;
  list-style-type: none;
}

#game{
  display: block;
}

.score-panel{
  text-align: center;
  vertical-align: center;
}

.stars{
  display: inline-flex;
}

.moves{
  font-size: 1.4em;
  margin: 0 48px 0 8px;
}

.cards{
  background: linear-gradient(to bottom right, #02ccba, #aa7ecd);
  border-radius: 16px;
  text-align: center;
  margin: 16px 0 16px 0;
}

.card{
  margin: 8px;
  padding: 4px;
  font-size: 40px;
  color: white;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.hide{
  background: #2e3d49;
}

.clicked{
  background: #02b3e4;
}

.match{
  background: #02ccba;
}

.icon::before{
  display: none;
}

.icon-clicked{
  display: block;
}

#win{
  height: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  /*display: flex;*/
  display: none;
  flex-direction: column;
  justify-content: center;
}

.congrats{
  color: #494c51;
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
}

.congrats-icon{
  color: #7fed36;
  font-size: 56px;
  -webkit-text-stroke: 2px #edf3ff;
}

.congrats-moves{
  color: #686872;
}

@media screen and (min-width: 768px) {
  .play-card{
    font-size: 72px;
    padding: 8px;
  }
}