html {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: #edf3ff;
  font-family: Roboto;
  text-align: center;
}

header {
  text-align: center;
  margin: 16px;
  color: #6f42c1;
}

ul {
  padding: 0;
  list-style-type: none;
}

.col-3 {
  padding: 0;
  text-align: center;
}

.d-flex {
  margin-top: 8px;
  margin-bottom: 8px;
}

.score-panel {
  text-align: center;
  font-size: 1.4em;
  margin: 8px;
}

.stars {
  display: inline-flex;
}

.moves {
  margin: 0 8px 0 16px;
}

#reload {
  margin-left: 16px;
}

.board {
  background: linear-gradient(to bottom right, #02ccba, #aa7ecd);
  border-radius: 16px;
  text-align: center;
  margin: 16px 4px 0 4px;
  padding: 8px 0 8px 0;
}

.card-back,
.card-front {
  width: 66px;
  height: 72px;
  border-radius: 4px;
}

.flip-container {
  width: 74px;
  height: 80px;
}

.card-back {
  background: #2e3d49;
}

.card-front {
  background: transparent;
  font-size: 48px;
  color: #fcfcf7;
  z-index: 2;
  transform: rotateY(180deg); 
}

.clicked {
  background: #02b3e4;
}
.match {
  background: #02ccba;
}

.card-back, .card-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.congrats-title {
  color: #494c51;
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
}

.congrats-icon {
  color: #7fed36;
  font-size: 56px;
  -webkit-text-stroke: 2px #edf3ff;
}

.congrats-moves,
.congrats-time {
  color: #686872;
}

.select {
  border: 4px solid yellow;
  transition : border 0.2s ease-in-out;
}

.unselect {
  border: 4px solid transparent;
  transition : border 0.2s ease-in-out;
}

.flip-container {
  perspective: 1000px;
  border-radius: 8px;
}

.flip-container.flip .card {
  transform: rotateY(180deg);
}

.card {
  border: 0px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.animation-match {
  animation: shake 0.7s;
}

.animation-error {
  background: #e03838;
  animation: shift 0.7s;
}

@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -5px) rotate(-5deg); }
  20% { transform: translate(0, 0) rotate(5deg); }
  30% { transform: translate(5px, 5px) rotate(0deg); }
  40% { transform: translate(-5px, -5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(-5deg); }
  60% { transform: translate(-5px, -5px) rotate(0deg); }
  70% { transform: translate(5px, 5px) rotate(-5deg); }
  80% { transform: translate(0, 0) rotate(5deg); }
  90% { transform: translate(5px, 5px) rotate(0deg); }
  100% { transform: translate(-5px, -5px) rotate(-5deg); }
}

@keyframes shift {
  0% { transform: translate(10px, 0); }
  10% { transform: translate(0, 0); }
  20% { transform: translate(-10px, 0); }
  30% { transform: translate(0, 0); }
  40% { transform: translate(10px, 0); }
  50% { transform: translate(0, 0); }
  60% { transform: translate(-10px, 0); }
  70% { transform: translate(0, 0); }
  80% { transform: translate(10px, 0); }
  90% { transform: translate(0, 0); }
  100% { transform: translate(-10px, 0); }
}

/** desktop **/
@media screen and (min-width: 1336px){
  .board {
    margin: auto;
    max-width: 600px;
  }

  .card-back, .card-front {
    width: 106px;
    height: 96px;
  }

  .flip-container {
    width: 114px;
    height: 104px;
  }

  .card-front {
    font-size: 70px;
  }
}
/** larger tablet */
@media screen and (min-width: 1024px) and (max-width: 1335px){

  h1 {
    font-size: 3em;
  }

  .score-panel {
    font-size: 1.6em;
    margin: 8px;
  }

  .board {
    margin: auto;
    max-width: 700px;
  }

  .card-back, .card-front {
    width: 106px;
    height: 116px;
    border-radius: 8px;
  }

  .flip-container {
    width: 118px;
    height: 128px;
  }

  .card-front {
    font-size: 78px;
  }

  .select {
    border: 6px solid yellow;
    border-radius: 16px;
  }

  .unselect {
    border: 6px solid transparent;
  }
}

/** tablet portrait **/
@media screen and (min-width: 768px) and (max-width: 1023px){

  header {
    margin: 48px;
  }

  h1 {
    font-size: 3em;
  }

  .score-panel {
    font-size: 2em;
  }

  .board {
    margin: 36px 16px 48px 16px;
  }

  .card-back, .card-front {
    width: 118px;
    height: 130px;
    border-radius: 8px;
  }

  .flip-container {
    width: 130px;
    height: 142px;
  }

  .card-front {
    font-size: 84px;
  }

  .select {
    border: 6px solid yellow;
    border-radius: 16px;
  }

  .unselect {
    border: 6px solid transparent;
  }
}

/** Nexus5 landscap **/
@media screen and (max-width: 768px) and (orientation: landscape) {

  header {
    margin: 8px;
  }
  
  h1 {
    font-size: 1.8em;
    margin: 0;
  }

  .score-panel {
    width: 10%;
    font-size: 1.2em;
    margin: 0 8px 0 8px;
  }

  .board {
    margin: 0 8px 0 32px;
    width: 90%;
  }

  .d-flex {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .card-back, .card-front {
    width: 74px;
    height: 54px;
  }

  .flip-container {
    width: 82px;
    height: 62px;
  }

  .card-front {
    font-size: 38px;
  }

  .match {
    background: #02ccba;
  }

  .stars {
    display: inline-block;;
  }

  .moves {
    margin-right: 8px;
    display: block;
  }

  #game {
    display: inline-flex;
  }

  #reload {
    margin-top: 24px;
  }

  #timer {
    margin-top: 16px;
  }
}