header{
  text-align: center;
  margin: 16px;
  color: #6f42c1;
  font-family: Roboto;
}

ul{
  padding: 0;
  list-style-type: none;
}

.score-panel{
  text-align: center;
  vertical-align: center;
}

.stars{
  display: inline-flex;
}

.moves{
  font-size: 1.4em;
  margin: 0 48px 0 8px;
}

.cards{
  background: linear-gradient(to bottom right, #02ccba, #aa7ecd);
  border-radius: 16px;
  text-align: center;
  margin: 16px 0 16px 0;
}

.play-card{
  margin: 8px;
  padding: 4px;
  font-size: 40px;
  background: blue;
  color: white;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .play-card{
    font-size: 72px;
    padding: 8px;
  }
}

@media screen and (min-width: 768px) {
    .play-card{
    font-size: 72px;
    padding: 8px;
  }
}